<footer>
  <nav class="round">
    <ul>
      <li><%= link_to t(:about), about_path(params_link) %></li>
      <li><%= link_to t(:contact), '#' %></li>
      <li><a href="http://news.railstutorial.org/"><%= t(:news) %></a></li>
      <li><a href="http://www.railstutorial.org/"><%= t(:rails_tutorial) %></a></li>
    </ul>
  </nav>
</footer>